<div class="flex items-center min-h-screen p-4 bg-gray-100 lg:justify-center">
    <div
        class="flex flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md">
        <div
            class="p-4 py-6 text-white bg-blue-500 md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly">
            <div class="my-3 text-4xl font-bold tracking-wider text-center">
                <a href="#">Pfandbingo</a>
            </div>
            <p class="hidden mt-6 font-normal text-center text-gray-300 md:block md:mt-0">
                Mit Pfangbingo kannst du dem lästigen Handling der Pfandflaschen einen Hauch von Spielrei geben. Logge
                dich ein, bewerte oder teile deine Bilder und habe einfach Spaß!
            </p>
            <p class="flex flex-col items-center justify-center mt-10 text-center">
                <span>Du hast keinen Account?</span>
                <a routerLink="../signup" class="underline">Leg los!</a>
            </p>
            <p class="mt-6 text-sm text-center text-gray-300">
                Lese hier unsere <a href="#" class="underline">AGB</a> und <a href="#"
                    class="underline">Datenschutzbestimmungen</a>
            </p>
        </div>
        <div class="p-5 bg-white md:flex-1">

            <h3 class="my-4 text-2xl font-semibold text-gray-700">Anmelden</h3>
            <form [formGroup]="validateForm" (ngSubmit)="signIn()" class="flex flex-col space-y-5" #form="ngForm">
                <!-- <form action="#" > -->
                <div class="flex flex-col space-y-1">
                    <label for="email" class="text-sm font-semibold text-gray-500">E-Mailadresse</label>
                    <pfandbingo-input preIcon="user" class="w-full" name="email" type="text" formControlName="email">
                    </pfandbingo-input>
                </div>
                <div class="flex flex-col space-y-1">
                    <div class="flex items-center justify-between">
                        <label for="password" class="text-sm font-semibold text-gray-500">Passwort</label>

                    </div>
                    <pfandbingo-input preIcon="lock" class="w-full" name="password" type="password"
                        formControlName="password">
                    </pfandbingo-input>
                </div>


                <div class="inline-flex items-center w-full">
                    <pfandbingo-checkbox name="remember" formControlName="remember" label="Vergiss mein nicht">
                    </pfandbingo-checkbox>

                    <a routerLink="auth/recover"
                        class="self-end ml-auto text-sm text-blue-600 self- hover:underline focus:text-blue-800 p-auto">Passwort
                        vergessen?</a>
                </div>
                <div>
                    <pfandbingo-button [type]="'submit'" [title]="'Login'" [loading]="authPending$ | async"
                        [disabled]="!validateForm.valid || (authPending$ | async)"></pfandbingo-button>
                </div>
                <pfandbingo-auth-provider></pfandbingo-auth-provider>
            </form>
        </div>
    </div>
</div>