<!-- Article -->
<article
    class="w-56 m-3 overflow-hidden transition ease-in-out transform scale-100 border rounded-lg shadow-lg hover:border-blue-500 hover:scale-105 ">

    <div>
        <div [hidden]="!imageLoading">Loading...</div>
        <img alt="Placeholder" class="block object-cover h-56 " (load)="imageLoading = false" [src]="pfingo.imagePath">
    </div>

    <header class="flex items-center justify-between p-2 leading-tight md:p-4">
        <p class="text-sm text-grey-darker">
            {{ pfingo.uploadDateTime | date:'short' }}
        </p>
    </header>

    <footer class="flex items-center justify-between p-2 leading-none md:p-4">
        <a class="flex items-center text-black no-underline hover:underline" href="#">
            <!-- <img alt="Placeholder" class="block w-8 h-8 rounded-full" [src]="pfingo.user.photoURL"> -->
            <nz-avatar nzIcon="user" [nzSrc]="pfingo.user.photoURL"></nz-avatar>
            <p class="ml-2 text-sm">
                {{ pfingo.user.displayName }}
            </p>
        </a>
        <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
            <span class="hidden">Like</span>
            <i class="fa fa-heart"></i>
        </a>

        <div class="flex items-center text-black no-underline hover:underline" *ngIf="pfingo.isOwn">
            <i class="cursor-pointer" nz-icon [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" [nzType]="'delete'"
                (click)="delete(pfingo.id)"></i>
        </div>
    </footer>

</article>