<nz-list nzBordered nzHeader="Todos" @list>
  <nz-list-item @items *ngFor="let item of todos$ | async">
    <span nz-typography>{{ item.description }}</span>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <!-- <a (click)="remove(item.id)">delete</a> -->
        <i
          class="cursor-pointer"
          nz-icon
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#eb2f96'"
          [nzType]="'delete'"
          (click)="remove(item.id)"
        ></i>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-empty *ngIf="(todos$ | async).length === 0"></nz-list-empty>
</nz-list>

<nz-input-group
  nzSearch
  nzSize="large"
  [nzAddOnAfter]="suffixButton"
  class="mt-3"
>
  <input
    nz-input
    placeholder="Type"
    [(ngModel)]="todoName"
    (keyup.enter)="submit()"
  />
</nz-input-group>
<ng-template #suffixButton>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzSearch
    (click)="submit()"
    [disabled]="!todoName"
  >
    Save
  </button>
</ng-template>
